.portfolio {
    padding: 100px;
    background-color: lightsteelblue;
    min-height: 100vh;

    @media (max-width: 1024px) {
        padding: 50px;
    }

    @media (max-width: 768px) {
        padding: 50px 20px;
    }
}

.title {
    text-align: center;
}

.boxProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}