.main {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 200px;

    @media (max-width: 1024px) {
        padding: 50px 0;
        flex-wrap: wrap;
        gap: 60px;
    }

    @media (max-width: 768px) {
        gap: 30px;
    }
}

.boxText {
    max-width: 500px;

    @media (max-width: 1024px) {
       text-align: center;
    }
}

.text {
    text-transform: uppercase;
    font-weight: 700;

    @media (max-width: 1024px) {
        font-size: 14px;
    }

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.text b {
    color: #FF92A5;
}

.title {
    font-size: 90px;
    line-height: 100px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #ff869e, -1px -1px 0 #ff869e, 2px -2px 0 #ff869e, -2px 2px 0 #ff869e;

    @media (max-width: 1024px) {
        font-size: 75px;
        line-height: 80px;
    }

    @media (max-width: 768px) {
        font-size: 45px;
        line-height: 50px;
        padding-bottom: 15px;
    }
}

.title b {
    color: white;
}

.subtitle {
    font-size: 24px;
    padding-bottom: 50px;

    @media (max-width: 1024px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
        padding-bottom: 30px;
    }
}

.photo {
    min-width: 400px;

    @media (max-width: 768px) {
        min-width: 300px;
    }
}
