.skills {
    min-height: 100vh;
    padding: 100px;
    background-color: #d5b6f2;
    text-align: center;

    @media (max-width: 1024px) {
        padding: 50px;
    }

    @media (max-width: 768px) {
        padding: 50px 20px;
    }
}

.title {
    text-align: center;
}

.boxSkill {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}