.nav {
    border: 1px solid #000;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.item {
    padding: 10px;
    list-style-type: none;
}

.link {
    cursor: pointer;
}