.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 768px) {
        justify-content: center;
    }
}

.item {
    list-style-type: none;
}

.link {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.4,0,1,1);

    &:hover {
        color: #ff869e;
        border-bottom: 2px solid #ff869e;
    }

    &:active {
        color: #869eff;
        border-bottom: 2px solid #869eff;
    }

    @media (max-width: 768px) {
        font-size: 14px;
    }
}