@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-ExtraLight200.woff2") format("woff2"),
          url("./font/Jost-ExtraLight200.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-Regular400.woff2") format("woff2"),
          url("./font/Jost-Regular400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-Bold700.woff2") format("woff2"),
          url("./font/Jost-Bold700.woff") format("woff");
}

.container {
  padding: 0 100px;

  @media (max-width: 1023px) {
    padding: 50px;
  }

  @media (max-width: 767px) {
    padding: 50px 20px;
  }
}
