@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-ExtraLight200.woff2") format("woff2"),
          url("./font/Jost-ExtraLight200.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-Regular400.woff2") format("woff2"),
          url("./font/Jost-Regular400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Jost";

  font-display: swap;
  src:
          url("./font/Jost-Bold700.woff2") format("woff2"),
          url("./font/Jost-Bold700.woff") format("woff");
}


body {
  margin: 0;
  font-family: "Jost", 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #312631;
  background-color: #F5EEE6;
}

code {
  font-family: "Jost", 'Roboto', 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  padding: 0 100px;
  border: 1px solid #f9a4ff;

  @media (max-width: 1024px) {
    padding: 50px;
  }

  @media (max-width: 768px) {
    padding: 50px 20px;
  }
}
